html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    background:url("https://i.pinimg.com/originals/ab/44/82/ab4482a592f4dd28e5f57349a4777441.jpg");
    background-size: cover;

    height: 100px;
}  

/*NAVIGATION BAR -----------------------------------*/

.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar li:hover{
    color: red;
}
  
  /* Dropdown content (hidden by default) */
  .storyDropDown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .storyDropDown a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .storyDropDown a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .stories:hover .storyDropDown {
    display: block;
  }

  /* ----------------------------------------------------------------------*/