html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body{
  background-image: linear-gradient( 0deg, rgb(234 234 234 / 80%), rgb(0 0 0 / 70%) ), url("https://i.pinimg.com/originals/ab/44/82/ab4482a592f4dd28e5f57349a4777441.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.title{
  height: 60px;
}

#title{
  text-align: center;
  font-size: 45px;
  font-weight: 100;
  height: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}  

/*NAVIGATION BAR -----------------------------------*/

.topnav{
  background-color: rgba(0, 0, 0, 0.377);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  margin: -5px;
}

.navbar{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
}

.navbar li:hover{
  color: red;
}

.tab-content{
display: none;
}

.tab-content:active{
display: block;
}
  
/* Dropdown content (hidden by default) */
.storyDropDown {
  display: none;
  position: absolute;
  background-color: #ffffff00;
  min-width: 160px;
}

/* Links inside the dropdown */
.storyDropDown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.storyDropDown a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.stories:hover .storyDropDown {
  display: block;
}

/*Removing the list format in the dropdown*/
.storyDropDown ul{
  list-style-type: none;
}

iframe{
  height:500px;
  width:1000px;
}
  /* ----------------------------------------------------------------------*/
.tab-button{
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.dropbtn{
    border: none;
    background-color: transparent;
    font-size: 17px;
}

button{
    padding: 10px;
    color: white;
}

button:hover{
    cursor: pointer;
    color: red;
}

button:focus{
    outline: none;
    border-bottom: black;
}
